type vendor_secril_config_svc, domain;
type vendor_secril_config_svc_exec, exec_type, vendor_file_type, file_type;

# read /efs/factory.prop
allow vendor_secril_config_svc {
    efs_file
    factoryprop_efs_file
}:file r_file_perms;

allow vendor_secril_config_svc efs_file:dir search;

init_daemon_domain(vendor_secril_config_svc);
